<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-abigailhernandez-dishboard-styles.html">
<link rel="import" href="bower_components/cells-mocks-component/cells-mocks-component.html">
<dom-module id="cells-abigailhernandez-dishboard">
  <script src="cells-abigailhernandez-dishboard.js"></script>
</dom-module>